html, body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh; /*this is necessary for ios overshooting with just vh due to url bar etc*/
    margin: 0;
    font-family: var(--ff);

    overflow: hidden; /*lock scrolling*/
    overscroll-behavior: none; /* prevent scroll bounce on Android or Chrome*/
    -webkit-overflow-scrolling: auto;
    touch-action: none;
}


/* this just prevents overshooting scrolls and revealing whitespace from the browser, on ios */
#background-layer {
    position: fixed;
    inset: 0;
    /* background: linear-gradient(
        to bottom,
        var(--bg-2),
        var(--bg-1)
    ); */
    background: var(--bg-2);
    /* background-color: white; */
    z-index: -9999;
}

#title-search-playlists {
    background-color: transparent;
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-app-border);
}
body.mobile #title-search-playlists {
    padding: 0;
    height: 100%;
}

#title-search-playlists-contents {
    /* background: linear-gradient(
        to bottom,
        var(--bg-4),
        var(--bg-3)
    ); */

    background-color: transparent;
    border-radius: 0;
    /* border-radius: var(--radius-l); */

    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* position: relative;
    z-index: 1; */
}
#title-search-playlists-margin-block {
    flex: 0 0 auto;
}



#playbar-queue {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: var(--space-app-border);
    height: auto;

    /*height: 600px; /*debug*/
    opacity: 1;
    transition: height 0.5s ease, opacity 0.2s ease;
}
body.mobile #playbar-queue {
    padding-inline: 0;
}

#playbar-queue-contents {
    background: linear-gradient(
        to bottom,
        var(--bg-2),
        var(--bg-1)
    );

    border-radius: 0;
    /* border-top-left-radius: var(--radius-l);
    border-top-right-radius: var(--radius-l); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


#app-name {
    color: var(--gray10);
    font: var(--h1);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


/* Global: remove tap flash */
* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

/* Reset native button/link pressed styles */
a, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

/* prevent apple autodetect links */
a.no-link {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

/* Optional: remove long-press callout on images/links */
img, a {
    -webkit-touch-callout: none;
}
