.playlist {
    background: linear-gradient(
        180deg,
        var(--bg-5),
        var(--bg-4)
    );
    margin-inline: var(--space-content-margin);
    margin-bottom: var(--space-content-margin);
    border-radius: var(--radius-l);

    /* padding: var(--space-xl); */
    padding: 0;

    transition: all 0.5s ease;
}
.playlist.expanded {
    margin-inline: 0;
    border-radius: 0;
}


/* preview header part */
.playlist .list-header {
    margin: 0;
    padding-inline: var(--space-xl);
    padding-top: calc(var(--space-xl) - 0.1rem); /*adjust spacing top and bottom to text*/
    padding-bottom: var(--space-xl);

    border-radius: var(--radius-m);
    background: linear-gradient(
        160deg, 
        #8B0000, /* dark red */
        #FF6347  /* tomato */
    );

    transition: all 0.3s ease;
}
.playlist.expanded .list-header {
    border-radius: 0;
}


.playlist .list-header h3 {
    text-align: left;
    font: var(--h1);
    color: var(--text-2);
}


.playlist .list-track {
    margin: 0;
    padding: 0;
    /* height: 20vh;
    overflow-y: auto;
    overflow-x: hidden; */

    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    height: 0;
    transition: height 0.5s ease, margin 0.5s ease;
}

.playlist.expanded .list-track {
    
    margin-block: var(--space-l);
}