#title-search {
    background: linear-gradient(
        to bottom,
        var(--bg-6),
        var(--bg-5)
    );
    margin-top: var(--space-content-margin);
    margin-inline: var(--space-content-margin);
    border-radius: var(--radius-l);
    padding: var(--space-xl);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
}

#title img {
    height: var(--font-l);
    width: auto;
    filter: invert(1);
}
#title h1 {
    text-align: left;
    font: var(--h1);
    color: var(--text-1);
    font-family: var(--ff-title)
}

#search {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--space-s);
    padding: var(--space-s);
}

#search-input {
    font: var(--p);
    background-color: var(--bg-7);
    border: 1px solid var(--bg-3);
    color: var(--text-2);
    border-radius: 9999px;
    outline: none;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-inline: var(--space-s);
    margin: 0;
    transition: border-color 0.1s ease, background-color 0.1s ease;
}
#search-input::placeholder {
    color: var(--text-3);
}
#search-input:hover {
    background-color: var(--bg-8);
    border-color: var(--bg-5);
}
#search-input:focus {
    border-color: var(--text-2);
}

.search-button {
    font: var(--p);
    background-color: var(--bg-7);
    border: 1px solid var(--bg-3);
    border-radius: var(--radius-s);
    color: var(--text-3);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-inline: var(--space-s);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, transform 0.1s ease;
    position: relative; /* for tooltip */
}
.search-button:hover {
    color: var(--text-1);
    background-color: var(--bg-8);
    border-color: var(--bg-5);
    transform: scale(1.05);
}
.search-button:active {
    border-color: var(--text-2);
    transform: scale(0.95);
}
.search-button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: var(--text-2);
    padding: 4px 8px;
    border-radius: var(--radius-s);
    white-space: nowrap;
    font-size: 0.75rem;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.2s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.search-button:hover::after {
    opacity: 1;
    transition-delay: 0.5s;
}


@media (max-width: 600px) {
    #search-input {
        flex: 1 1 auto;
        min-width: 0;
        height: var(--mobile-button-m);
        padding-inline: var(--space-l);
    }
    .search-button {
        flex: 0 0 var(--mobile-button-m);
        -webkit-tap-highlight-color: transparent;
    }
}