html, body {
    height: 100%;
    margin: 0;
}

body {
    /*background: linear-gradient(
        to bottom,
        var(--bg),
        var(--bg-dark)
    );*/
    background: var(--bg-dark);
    color: var(--text);
    font-family: var(--ff);
}

#title-search-library {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-app-border);
}

#title-search-library-contents {
    background-color: var(--bg);
    border-radius: var(--radius-l);
    display: flex;
    flex-direction: column;
}



#playbar-and-queue {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: var(--space-app-border);
    height: 80vh;
    transition: height 0.5s ease;
}

#playbar-and-queue-contents {
    background-color: var(--bg);
    border-top-left-radius: var(--radius-l);
    border-top-right-radius: var(--radius-l);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


#app-name {
    color: var(--gray10);
    font: var(--h1);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


.normal-button {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-inline: var(--space-s);
    background: transparent;
    border-radius: var(--radius-s);
    border: none;
    color: var(--button-color-1);
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}
.normal-button:hover {
    background-color: var(--button-color-2);
    color: var(--button-color-3);
}



/*
button {
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  background: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

button:hover {
  background-color: #666;
  color: white;
}

button:active {
  background-color: #444;
}*/
