#library {
    background-color: var(--bg-light);
    margin-inline: var(--space-content-margin);
    margin-bottom: var(--space-content-margin);
    border-radius: var(--radius-l);
    padding: var(--space-xl);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

#library-title {
    text-align: left;
    font: var(--h1);
    color: var(--gray10);
    padding: var(--space-s);
}

#library-list {
    margin: 0;
    padding: 0;
    height: 35vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}


li.library-item {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
    align-items: stretch;
    justify-content: space-between;
    padding: var(--space-s);
    border-radius: var(--radius-l);
    background-color: var(--bg-light);
    transition: background-color 0.3s ease;
}
li.library-item:hover {
    background-color: var(--bg-very-light);
}

.library-title-and-author {
    flex: 1;
    justify-content: left;
    min-width: 0;
}
.library-item-title {
    font: var(--p);
    color: var(--gray10);
    margin-bottom: var(--space-xs);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.library-item-author {
    font: var(--p2);
    color: var(--gray50);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.library-duration {
    display: flex;
    justify-content: right;
    align-items: center;
}
.library-item-duration {
    text-align: right;
    font: var(--p2);
    color: var(--gray50);
}

.library-actions {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: var(--space-s);

    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width var(--ease-time) var(--ease-smooth), opacity var(--ease-time) var(--ease-smooth);
    pointer-events: none;
}
.library-item:hover .library-actions {
    max-width: 100%;
    opacity: 1;
    pointer-events: auto;
}

