/* Style the scrollbar track */
::-webkit-scrollbar {
    width: var(--space-xxs);
    height: var(--space-xxs); /* for horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--radius-s);
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: var(--gray90); /* customize this */
    border-radius: var(--radius-s);
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray50);
}
