#title-search {
    background-color: var(--bg-light);
    margin: var(--space-content-margin);
    border-radius: var(--radius-l);
    padding: var(--space-xl);
    flex-grow: 1;
}

#title-contents h1 {
    text-align: left;
    font: var(--h1);
    color: var(--gray10);
    line-height: 1;
}

