#whole-library {
    overflow-y: auto;
}


#library {
    background: linear-gradient(
        180deg,
        var(--bg-5),
        var(--bg-4)
    );
    margin-inline: var(--space-content-margin);
    margin-bottom: var(--space-content-margin);
    border-radius: var(--radius-l);
    padding: var(--space-xl);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

#library h3 {
    text-align: left;
    font: var(--h1);
    color: var(--text-2);

    margin: 0;
    padding-inline: var(--space-l);
    padding-block: calc(var(--space-l) - 0.2rem); /*adjust spacing top and bottom to text*/

    border-radius: var(--radius-m);
    background: linear-gradient(
        160deg, 
        #8B0000, /* dark red */
        #FF6347  /* tomato */
    );
}

#library-list {
    margin: 0;
    padding: 0;
    /* height: 35vh;
    overflow-y: auto; */
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

/* .playlist .playlist-content {
    max-height: 0;
} */