#popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10000;
}

#popup-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#popup {
    background: linear-gradient(
        to bottom,
        var(--bg-5),
        var(--bg-4)
    );
    padding: var(--space-xxl);
    border-radius: 12px;
    transform: translateY(20px);
    transition: transform 0.3s ease;
    min-width: 250px;
    width: 60vw;
    max-height: 70vh;
}

#popup-overlay.active #popup {
    transform: translateY(0);
}


/* popup content dynamically injected */
#popup-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    overflow-y: auto;
    max-height: 80vh;
}

#popup-content .popup-message {
    font: var(--h1);
    color: var(--text-2);
}

#popup-content .popup-save-cancel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: var(--space-l);
}

.popup-save-cancel .menu-button {
    flex: 0 0 auto;
    width: 8ch;
}

@media(max-width: 768px) {
    #popup {
        width: 80vw;
    }
    .popup-save-cancel .menu-button {
        min-width: var(--mobile-button-m);
    }
}


/* popup content for track editing */
.playlist-selection-menu {
    display: flex;
    flex-direction: column;

    gap: var(--space-l);
}

.playlist-selection-menu .playlist-option {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    color: var(--text-2);
}
.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--text-2);
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
.playlist-option.checked .checkbox {
    background-color: #4caf50;
}